li a[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    fill-opacity:0.5;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#stats[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
    white-space: normal;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    fill-opacity:0.5;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}



.navbar {
    position: relative;
    min-height:20px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0);

}


.navbar-nav .glyphicon{
    font-size:20px;
}



#fileinfo .divtable{
    display: table;
    margin-top:5px;
}

#fileinfo .row{
    display: table-row;
    text-align:left;
}


#fileinfo .row.heading {
    text-aling: left;
}

#fileinfo .row.heading .column {
    font-size:12px;
}


#fileinfo .column {
    font-size:11px;
    display: table-cell;
    white-space: nowrap;
    color:gray;
    width:150px;
}


#fileinfo .row.heading .column{
    text-align:left;
    color: rgba(255, 69, 0, 0.60);
    /*color:gray;*/
}


#rqa .divtable{
    display: table;
    margin-top:5px;
}

#rqa .row{
    display: table-row;
    text-align:center;
}


#rqa .row.heading {
    text-aling: center;
}

#rqa .column {
    font-size:12px;
    display: table-cell;
    color:gray;
    width:60px;
}


#rqa .row.heading .column{
    color: rgba(255, 69, 0, 0.60);
}

