
.recurrence div:focus{
    outline:none;
}

canvas {
image-rendering: optimizeSpeed;
image-rendering: -moz-crisp-edges;
image-rendering: -webkit-optimize-contrast;
/*//  (Safari now, Chrome soon)*/
image-rendering: -o-crisp-edges;
image-rendering: optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
}

#canvas-svg {
    overflow: visible;
    float: left;
    position: absolute;
    left: 15px
}

#time-lock input[type="checkbox"]{
margin-top: 4px;
position:relative;
left:48%
}

#time-lock  .glyphicon-lock {
  margin-top:-0.25em;
  position:relative;
  left:48%;
  font-size:0.75em;
}


.axis path,
.axis line {
    fill: none;
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke:#fff;
    fill-opacity:1.0;
    fill: coral;
    shape-rendering: crispEdges;
}

.x .label {
    font-weight: 300;
    font-size:12px;
    font-family: HelveticaNeue-Light ;
}

.rplabel {
    font-weight: 300;
    font-size:10px;
    font-family: HelveticaNeue-Light ;
    fill: coral;
}

fieldset{
/*border: 1px solid #cecfd5;*/
    /*border-radius: 6px;*/
    padding-bottom:10%;
    display:block;
}

#fieldset-0[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:10%;
    top:25%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#fieldset-1[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:10%;
    top:60%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#fieldset-2 input[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:20%;
    top:100%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#fieldset-2 label[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:relative;
    left:10%;
    top:100%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}


#fieldset-2 label.value{
display:block;
text-align:center
}


legend{
   font-size:15px;
    /*text-underline: none;*/
}
.slider{
    width:95%;
}

.slider input[type=number]{
    width:20%;
    font-size:10px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border: rgb(238,238,238);
    text-align:center;
    color: #9b9b9b;
    -webkit-border-radius:4px;
}


.slider input[type=number]:hover{
    color: #232323;
}

.slider input[type=number]:hover>.numinput{
   color: #232323;

}

.numinput{
   color: #9b9b9b;
   font-size:12px;
}

.recurrence .glyphicon:hover {
    color: orange;
    transition: color 0.25s linear;
}

.timetooltip{
    font-size:14px;
    font-weight:150;

}

#tooltip-0-a, #tooltip-1-a, #tooltip-2-a{
   color:orangered;
}


/*.flip-vertical canvas{*/
    /*-moz-transform: scaleY(-1);*/
    /*-webkit-transform: scaleY(-1);*/
    /*-o-transform: scaleY(-1);*/
    /*transform: scaleY(-1);*/
    /*-ms-filter: flipv; *//*IE*/
    /*filter: flipv;*/
/*}*/