
.recurrence div:focus{
    outline:none;
}

canvas {
image-rendering: optimizeSpeed;
image-rendering: -moz-crisp-edges;
image-rendering: -webkit-optimize-contrast;
/*//  (Safari now, Chrome soon)*/
image-rendering: -o-crisp-edges;
image-rendering: optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
}

#canvas-svg {
    overflow: visible;
    float: left;
    position: absolute;
    left: 15px
}

#time-lock input[type="checkbox"]{
margin-top: 4px;
position:relative;
left:48%
}

#time-lock  .glyphicon-lock {
  margin-top:-0.25em;
  position:relative;
  left:48%;
  font-size:0.75em;
}


.axis path,
.axis line {
    fill: none;
    stroke: #9b9b9b;
    shape-rendering: crispEdges;
}

.brush .extent {
    stroke:#fff;
    fill-opacity:1.0;
    fill: coral;
    shape-rendering: crispEdges;
}

.x .label {
    font-weight: 300;
    font-size:12px;
    font-family: HelveticaNeue-Light ;
}

.rplabel {
    font-weight: 300;
    font-size:10px;
    font-family: HelveticaNeue-Light ;
    fill: coral;
}

.recurrence fieldset{
    padding-left:0;
    padding-bottom:5%;
    display:block;
    width:112.5%;
    margin-left:-12.5%;
}

#fieldset-0[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:10%;
    top:25%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#fieldset-1[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:10%;
    top:60%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#fieldset-2 input[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:20%;
    top:85%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#fieldset-2 label[titlex]:hover:after{
    content: attr(titlex);
    padding: 4px 8px;
    color: #333;
    position:absolute;
    left:10%;
    top: 90%;
    z-index: 20;
    white-space:nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    background-color:#ffffff;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}


#fieldset-2 label.value{
display:block;
text-align:center

}


legend{
   font-size:15px;
    /*text-underline: none;*/
}
.slider{
    width:100%;
    float:left;
    padding-left:0;
    display:inline-block;
}

.slider input[type=number]{
    width:19%;
    font-size:10px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border: rgb(238,238,238);
    text-align:left;
    color: #9b9b9b;
    -webkit-border-radius:4px;
}


.slider input[type=number]:hover{
    color: #232323;
}

.slider input[type=number]:hover>.numinput{
   color: #232323;

}

.numinput{
   color: #9b9b9b;
   font-size:10px;
}

.recurrence .glyphicon:hover {
    color: orange;
    transition: color 0.25s linear;
}




.timetooltip{
    font-size:11px;
    font-weight:100;
}




#tooltip-0-a, #tooltip-1-a, #tooltip-2-a{
    font-size:13px;
    font-weight:100;
    color:orangered;
}


/*#fieldset-1 .divtable{*/
    /*display: table;*/
    /*float:left;*/
    /*/!*margin-top:5px;*!/*/
/*}*/

/*#fieldset-1 .row{*/
    /*display: table-row;*/
    /*text-align:left;*/
/*}*/

/*#fieldset-1 .column{*/
    /*display: table-cell;*/
    /*text-align: center;*/
    /*vertical-align:middle;*/
    /*font-size:13px;*/
    /*width:18%;*/
    /*/!*padding-right:1%;*!/*/
/*}*/
/*#fieldset-1 .column.column-0 {*/
   /*text-align:left;*/
   /*padding-right:3%;*/
/*}*/


#rp-y-axis {
    top: 13px;
    left:-4%;
}

#rp-y-axis svg text{
    font-weight:100;
    font-size:10px;
    stroke:black;
    stroke-width:0.7;
    stroke-opacity:0.8;
    shape-rendering: crispedges;
}


#rp-y-axis .y.axis,
#rp-y-axis .y.axis line {
    fill: none;
    stroke:#777;
    stroke-width:1;
    font-weight:100;
    shape-rendering: crispEdges;
}



#rp-x-axis {
    position:absolute;
    top: 175px;
    left:5px;
}

#rp-x-axis svg text{
    font-weight:100;
    text-shadow: none;
    font-size:10px;
    stroke:black;
    stroke-width:0.7;
    stroke-opacity:0.8;
    shape-rendering: crispedges;
}


#rp-x-axis .x.axis,
#rp-x-axis .x.axis line {
    fill: none;
    stroke:#777;
    text-shadow: none;
    stroke-width:1;
    font-weight:100;
    shape-rendering: crispEdges;
}

#recurrence-ctrls label{
    margin-bottom: -5px;
}


#recurrence-ctrls .divtable{
    display: table;
}

#recurrence-ctrls .row{
    display: table-row;
    text-align:left;
}

#recurrence-ctrls .column {
    font-size:12px;
    display: table-cell;
    color:gray;
    width:20%;
}

#recurrence-ctrls .column.column-0{
    text-align: right;
    vertical-align:bottom;
    padding-right:3%;
}
#recurrence-ctrls .column-1 {
    font-size:11px;
    display: table-cell;
    color:gray;
    text-align:left;
}

#fieldset-3{
position:absolute;
display: block;
}
#fieldset-3 .column {
    text-align:left !important;
    vertical-align: middle;
    font-size: 12px;
    width: 50%;
}

#tooltip-0-a, #tooltip-1-a, #tooltip-2-a {
    font-weight: 100;
    color: #ff4500 !important;
}
