#scene{
    position:relative;
}

.scene div:focus{
    outline: none;
}


.stacked{
   position:absolute;
}

.viewname label{
    position:absolute;
    display:block;
    text-align:left ! important;
}

.scene-info{
    position:absolute;
    top:520px;
    width:100%;
    display:block;
}


.rectbrush .extent {
    stroke:#fff;
    fill-opacity:0.4;
    fill: gray;
    shape-rendering: crispEdges;
}

#rp .rectbrush .extent {
    stroke:none;
    fill: none;
    shape-rendering: crispEdges;
}

circle{
    /*vector-effect:non-scaling-stroke;*/
    fill:coral;
    opacity:1;
    /*stroke: #696969;*/
    stroke:black;
    stroke-width:3;
}


.ghost circle{
    opacity:0.3;
    fill: gray;
    stroke:none;
    stroke-width:3;
}

.gray circle{
    opacity:0.25;
    fill: #9bc398;
    stroke: none;
}


/*.ghost circle{*/
    /*opacity:0.05;*/
/*}*/

.hidden circle{

   display: none;

}

/*.selected .highlight circle{*/
    /**/
    /*fill:red;*/
    /*opacity:0.9;*/
    /*stroke:black;*/
    /*stroke-width:3;*/
    /**/
/*}*/



.highlight circle{
    fill:red;
    opacity:0.9;
    stroke:black;
    stroke-width:3;
}


.tracking {
   opacity:0.5;
}

.notracking{
   opacity:1.0;
}

.scene .glyphicon:hover {
    color: orange;
    transition: color 0.25s linear;
}

.scene-info .controlgrp  {
    width:100%;
   margin-top:1%;
   margin-left:1%;
   margin-right:auto;
}




.scene-info .controlgrp .grp-0 {
    /*margin-top:1%;*/
    /*margin-bottom:1%;*/
    float: left;
    display:inline-block;
    font-size:12px;
    width:50%;
}


.scene-info .controlgrp .grp-0 .slider{
    width:95%;
}

.scene-info .controlgrp .grp-0 .slider input[type=number]:hover>.numinput{
   color: #232323;

}

.scene-info .controlgrp .grp-0 .slider .numinput{
   color: #9b9b9b;
   font-size:12px;
}


.scene-info .controlgrp .grp-0 .slider input[type=number]:hover{
    color: #232323;
}
.scene-info .controlgrp .grp-0 .slider input[type=number]{
    width:17%;
    font-size:10px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border: rgb(238,238,238);
    text-align:center;
    color: #9b9b9b;
    -webkit-border-radius:4px;
}

.scene-info .controlgrp .grp-0 .slider input[type=range]{

    width:80%
}


.scene-info .controlgrp .grp-0 div{
    display:inline-block;
    margin-top:1%;
    margin-bottom:1%;
    /*width:%;*/
}

.scene-info .controlgrp .grp-1 {
    /*margin-top:1%;*/
    /*margin-bottom:1%;*/
    float: left;
    display:inline-block;
    font-size:12px;
}


.scene-info .controlgrp .grp-1 div{
    display:inline-block;
    margin-top:1%;
    margin-bottom:1%;
}

.scene-info .center {
    /*text-align:center;*/
    display:block;
    width:23%;
    margin-left:auto;
    margin-right:auto;
}

/*.scene-info .controlgrp .control-row input[type=range]{*/
   /*width:50%;*/
   /*display:inline-block;*/
/*}*/

/*.scene-info .controlgrp label{*/
   /*display:block;*/
/*}*/

/*.scene-info .controlgrp  input[type=range]{*/
   /*width:90%;*/
   /*display:inline-block;*/
/*}*/


