#scene{
    position:relative;
}

.stacked{
   position:absolute;
}

.viewname label{
    position:absolute;
    display:block;
    text-align:left ! important;
}

.scene-info{
position:absolute;
    top:520px;
    width:100%;
    display:block;
}


.rectbrush .extent {
    stroke:#fff;
    fill-opacity:0.4;
    fill: gray;
    shape-rendering: crispEdges;
}

#rp .rectbrush .extent {
    stroke:none;
    fill: none;
    shape-rendering: crispEdges;
}

circle{
    /*vector-effect:non-scaling-stroke;*/
    fill:coral;
    opacity:1;
    /*stroke: #696969;*/
    stroke:black;
    stroke-width:3;
}


.ghost circle{
    opacity:0.3;
    fill: gray;
    stroke:none;
    stroke-width:3;
}

.gray circle{
    opacity:0.25;
    fill: #9bc398;
    stroke: none;
}


/*.ghost circle{*/
    /*opacity:0.05;*/
/*}*/

.highlight circle{
    fill:red;
    opacity:0.9;
    stroke:black;
    stroke-width:3;
}


.tracking {
   opacity:0.5;
}

.notracking{
   opacity:1.0;
}

.scene .glyphicon:hover {
    color: orange;
    transition: color 0.25s linear;
}

.scene-info .controlgrp  {
    margin-top:1%;
   margin-left:1%;
   margin-right:auto;
}

.scene-info .controlgrp div{
    display:inline-block;
    margin-top:1%;
    margin-bottom:1%;
}

.scene-info .controlgrp .control-row{
    margin-top:1%;
    margin-bottom:1%;
 display:block;
}


.scene-info .controlgrp label{
   display:block;
}

.scene-info .controlgrp  input[type=range]{
   width:90%;
   display:inline-block;
}


