
.player .glyphicon{
    font-size:25px;
    /*!important;*/
}
.player .glyphicon:hover {
    cursor:pointer;
}
.timeline {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 300px !important;
    margin-top: -90px !important;
    border-radius: 20px;
    width:50%;
}
/*{    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;*/
    /*-moz-transition: visibility 0.2s linear, opacity 0.2s linear;*/
    /*-o-transition: visibility 0.2s linear, opacity 0.2s linear;*/
/*}*/


/*.timeline:hover{*/
    /*opacity: 1;*/
    /*transition: opacity 1s linear;*/
/*}*/
