
.player .glyphicon{
    font-size:20px;
    /*!important;*/
}
.player .glyphicon:hover {
    cursor:pointer;
}
.timeline {
    position:absolute;
    width:500px;
    top:145px;
}

.timeline.player .time{
 margin-left:auto;
 margin-right:auto;
 width:10%;
 font-size:12px;
}

.timeline .time span{
       color: rgba(255, 69, 0, 0.60);
}

.timeline.player .controls{
 margin-left:auto;
 margin-right:auto;
 width:20%
}


.timeline.player .controls .glyphicon{
    padding: 3px 2px 3px 2px;
}


.timeline .column{

    padding-left:5%

}

