<div class="col-md-6 column recurrence" ng-controller="RecurrenceCtrl">
    <div class="row clearfix">
        <!--<div class="col-md-8 column" style="padding-left:70px" >-->
        <div class="col-md-9 column" >

            <label class="viewname">RP</label>

           <span class="glyphicon glyphicon-search"
                 ng-model="interaction.mode"
                 ng-style="zoomIconStyle"
                 ng-init="zoomIconStyle={'color':'gray'}"
                 ng-click="setMode('view');
          brushIconStyle={'color':'gray'};
          zoomIconStyle={'color': 'orange'}"
                 style="margin-left:45%"></span>

    <span class="fa fa-paint-brush"
          ng-model="interaction.mode"
          ng-style="brushIconStyle"
          ng-init="brushIconStyle={'color' :'orange'}"
          ng-click="setMode('selection');
          brushIconStyle={'color': 'orange'};
          zoomIconStyle={'color':'gray'};">
    </span>

    <span class="glyphicon glyphicon-repeat"
          ng-click="resetView()">
           </span>

            <rp class="stacked flip-vertical" width="500" height="500" data="data"></rp>

            <brush id="rp" class="stacked" width="500" height="500" flipy="true"></brush>

            <zoom id="rp-zoom" class="stacked" width="500" height="500" flipy="true" ng-show="interaction.mode==='view'"></zoom>
        </div>

        <!--<div class="col-md-3 column" style="padding-left:30px;padding-right:0px" >-->
        <div class="col-md-3 column" ng-show="sceneReady">
            <form  role="form" class="form" >
                <fieldset id='fieldset-0' titlex="Adjust recurrence epsilon threshold">
                    <legend>epsilon</legend>
                    <div class="form-group slider">
                        <!--<div style="display:block"><label>epsilon</label></div>-->
                        <label class="numinput">min:</label><input  type="number"  id="min-input" value="{{eps.min}}" ng-model="eps.min">
                        <label class="numinput">step:</label><input type="number" id="max-input" value="{{eps.step}}" ng-model="eps.step">
                        <label class="numinput">max:</label><input  type="number" id="step-input" value="{{eps.max}}" ng-model="eps.max">

                        <input type="range"

                               min="{{eps.min}}"
                               step="{{eps.step}}"
                               max="{{eps.max}}"
                               value="{{eps.value}}"
                               ng-model="eps.value"
                               ng-change="updateEps()"/>
                        <label style="display:block;text-align:center">{{eps.value}}</label>
                    </div>
                </fieldset>

                <fieldset id='fieldset-1' titlex="Set recurrence distance function">
                    <legend>distance function</legend>
                    <div class="divtable form-group">
                        <div class="row">
                            <div class="column">
                            <input type="radio" name="norms" value="l1" ng-model="eps.distfn" ng-change="updateDistfn()" />
                            </div>
                            <div class="column column-0">l1</div>
                            <div class="column">
                                    <input type="radio" name="norms" value="l2" ng-model="eps.distfn" ng-change="updateDistfn()" checked/>
                            </div>
                            <div class="column column-0">l2</div>
                            <div class="column">
                                    <input type="radio" name="norms" value="max" ng-model="eps.distfn" ng-change="updateDistfn()"/>
                            </div>
                            <div class="column column-0">max</div>
                        </div>
                        <div class="row">
                            <div class="column">
                                    <input type="radio" name="norms" value="min" ng-model="eps.distfn" ng-change="updateDistfn()" />
                            </div>
                            <div class="column column-0">min</div>
                            <div class="column">
                                    <input type="radio" name="norms" value="edit" ng-model="eps.distfn" ng-change="updateDistfn()" />
                            </div>
                            <div class="column column-0">edit</div>
                            <div class="column">
                                </div>
                            <div class="column column-0">   </div>
                        </div>
                    </div>
                </fieldset>



                <fieldset id='fieldset-2'  ng-controller="AlphaformCtrl">

                    <legend>alpha</legend>

                    <div class="form-group slider">

                        <label class="numinput">min:</label><input type="number"   value="{{alpha.min}}" ng-model="alpha.min">
                        <label class="numinput">step:</label><input type="number"  value="{{alpha.step}}" ng-model="alpha.step">
                        <label class="numinput">max:</label><input type="number"   value="{{alpha.max}}" ng-model="alpha.max">

                        <input type="range"
                               titlex="Adjust alpha-shape threshold"
                               min="{{alpha.min}}"
                               step="{{alpha.step}}"
                               max="{{alpha.max}}"
                               value="{{alpha.value}}"
                               ng-model="alpha.value"
                               ng-change="alphaUpdate({{alpha.value}})"/>
                        <label class="value">{{alpha.value}}</label>
                        <label class="checkbox" titlex="Show alpha shapes of fixations">
                            alpha patch
                            <input type="checkbox"
                                   ng-model="alpha.partition"
                                   ng-click="alphaPartition()"/>
                        </label>
                    </div>
                </fieldset>

                <fieldset id='fieldset-3'>

                    <legend>time stats</legend>

                    <div class="timetooltip">
                        <span id="tooltip-0-a"></span>
                        <span id="tooltip-0-b"></span>

                    </div>
                    <div class="timetooltip" id="tooltip-1">
                        <span id="tooltip-1-a"></span>
                        <span id="tooltip-1-b"></span>
                    </div>
                    <div class="timetooltip" id="tooltip-2">
                        <span id="tooltip-2-a"></span>
                        <span id="tooltip-2-b"></span>
                    </div>

                </fieldset>

            </form>

        </div>

    </div>


    <div class="row clearfix">
        <!--col-md-9-->
        <ng-include src="'views/timeline.html'"></ng-include>

        <div class="col-md-3 column">

        </div>
    </div>


</div>
