<div class="col-md-7 column" ng-controller="RecurrenceCtrl">

    <div class="row clearfix">

        <div class="col-md-8 column" style="padding-left:70px">
            <label class="viewname">RP</label>
            <span class="glyphicon glyphicon-zoom-in" style="margin-left:45%"></span>
           <rp width="500" height="500" class="stacked"></rp>
           <brush id="rp" width="500" height="500" class = "stacked"></brush>
        </div>

        <div class="col-md-4 column" style="padding-left:30px;padding-right:0px" >
            <form  role="form" class="form" >
                <div class="form-group slider">
                    <div style="display:block"><label>epsilon</label></div>
                    <label class="numinput">min:</label><input type="number"  id="min-input" value="{{epsmin}}" ng-model="epsmin">
                    <label class="numinput">step:</label><input type="number" id="max-input" value="{{epsstep}}" ng-model="epsstep">
                    <label class="numinput">max:</label><input type="number" id="step-input" value="{{epsmax}}" ng-model="epsmax">

                    <input type="range"
                           min="{{epsmin}}"
                           step="{{epsstep}}"
                           max="{{epsmax}}"
                           value="{{eps}}"
                           ng-model="eps"
                           ng-change="epsUpdate()"/>
                    <label style="display:block;text-align:center">{{eps}}</label>
                       <label class="checkbox">
                           epsilon filtering
                           <input type="checkbox"
                           ng-model="epsFiltering"
                           ng-change="epsFilteringUpdate()"/>
                       </label>

                </div>
                <label>distance functions</label>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="norms" value="l1" ng-model="distfn" ng-change="update()" />l1</label>
                    <label class="radio-inline">
                        <input type="radio" name="norms" value="l2" ng-model="distfn" ng-change="update()" checked/>l2</label>
                    <label class="radio-inline">
                        <input type="radio" name="norms" value="max" ng-model="distfn" ng-change="update()" />max</label>
                    <label class="radio-inline">
                        <input type="radio" name="norms" value="min" ng-model="distfn" ng-change="update()" />min</label>
                     <label class="radio-inline">
                        <input type="radio" name="norms" value="edit" ng-model="distfn" ng-change="update()" />edit</label>
                </div>
            </form>
            <label>time interval</label>
            <xbrush axis="x"></xbrush>
            <div id="time-lock">
            <input type="checkbox" ng-model="brush.lock" checked>
                <span class="glyphicon glyphicon-lock"></span>
            </input>
            </div>
            <xbrush axis="y"></xbrush>
            <label>embedding dimensions</label>
        </div>
    </div>
</div>
