<div class="scene col-md-5 column nopadding" style="padding-left:10px" ng-controller="SceneCtrl"
     xmlns="http://www.w3.org/1999/html">
    <label class="viewname">{{frm.srcName || 'Scene'}}</label>

    <span class="glyphicon glyphicon-search"
          ng-model="mode"
          ng-style="zoomIconStyle"
          ng-init="zoomIconStyle={'color':'gray'}"
          ng-click="setMode('view');
          brushIconStyle={'color':'gray'};
          zoomIconStyle={'color': 'orange'}"
          style="margin-left:45%"></span>
    <!--zoomStyle={'z-index':14}"-->

    <span class="fa fa-paint-brush"
          ng-model="mode"
          ng-style="brushIconStyle"
          ng-init="brushIconStyle={'color' :'orange'}"
          ng-click="setMode('selection');
          brushIconStyle={'color': 'orange'};
          zoomIconStyle={'color':'gray'};">
    </span>

    <!--brushStyle={'z-index' : 14};-->

    <span class="glyphicon glyphicon-repeat"
          ng-click="resetView()">
           </span>

    <div id="scene" class="img-with-label">

        <scene-frame class="stacked"  width="650" height="500"
                     ng-style="imgStyle">
        </scene-frame>


        <!--ng-init="imgStyle={'z-index':1}" >-->

        <heatview  id="heatmap" class="stacked" width="650" height="500" colormap="1"
                   domain='domain()'
                   points='points'
                   ng-style="heatmapStyle"
                   ng-show="showHeatmap"></heatview>

        <!--ng-init="heatmapStyle={'z-index':2}"-->

        <heatview  id="fixation-heatmap" class="stacked" width="650" height="500" colormap="0"
                   domain='domain()'
                   points='fixations'
                   ng-style="fixationStyle"
                   ng-show='showFixations'>
        </heatview>

        <!--ng-init="fixationStyle={'z-index':3}"-->

        <heatview  id="saccade-heatmap" class="stacked" width="650" height="500"
                   colormap="2"
                   domain='domain()'
                   points='saccades'
                   ng-style="saccadeStyle"
                   ng-show="showSaccades">
        </heatview>


        <!--ng-init="saccadeStyle={'z-index':4}"-->

        <sp id="scatterplot" class="stacked" width="650" height="500"
            ng-style="spStyle">
        </sp>

        <!--ng-init="spStyle={'z-index':5}">-->


        <alphapart id="alphapart" class="stacked" width="650" height="500"
                   ng-style="alphapartStyle"
                   ng-show="partition">
        </alphapart>

        <!--ng-init="alphapartStyle={'z-index':9}"-->

        <directedpath id="directedpath" class="stacked scanpath" width="650" height="500"
                      data='scanPath'
                      domain='domain()'
                      ng-show="showScanPath"
                      ng-style="pathStyle">
        </directedpath>
        <!--ng-init="pathStyle={'z-index':6}">-->
        <div>

            <circularnodes id="circularnodes" class="stacked nodes" width="650" height="500"
                           data='scanPath'
                           domain='domain()'
                           click='onFixationClick(d,i)'
                           ng-style="nodeStyle"
                           ng-show="showScanPath">
            </circularnodes>

            <!--ng-init="nodeStyle={'z-index':7}"-->

            <!--<textlabel id="textlabel" class="stacked" width="650" height="500"-->
            <!--domain='domain()'-->
            <!--data='scanPath'-->
            <!--ng-style="labelStyle"-->
            <!--ng-init="labelStyle={'z-index' : 8}"-->
            <!--ng-show="showScanPath">-->
            <!--</textlabel>-->
            <div>

                <brush id="sp" class="stacked" width="650" height="500"
                       ng-style="brushStyle"
                       ng-show="showTracking">
                </brush>

                <!--ng-init="brushStyle={'z-index' : 10}"-->

                <zoom id="scene-zoom" class="stacked" width="650" height="500"
                      ng-style="zoomStyle"
                      ng-show="mode==='view'"
                      onclick="
                      console.log('clicked');
                      console.log(window.event.pageX, window.event.pageY);
                      document.getElementById('scene-zoom').style.zIndex='-1';
                      document.getElementById('circularnodes').style.zIndex='100';
                      var e = new MouseEvent('click', {
    'view': window,
    'bubbles': true,
    'cancelable': true
  });
                      console.log(document.elementFromPoint(window.event.clientX, window.event.clientY).dispatchEvent(e));
//                      (document.elementFromPoint(window.event.clientX, window.event.clientY)).click();
                      document.getElementById('circularnodes').style.zIndex='6';
                      document.getElementById('scene-zoom').style.zIndex='20';
                      ">
                </zoom>

            </div>
        </div>

        <!--ng-init="zoomStyle={'z-index' : 11; 'pointer-events}"-->

    </div>

    <div class="scene-info">

        <div ng-show="frm.img.src">

            <div class="controlgrp">

                <div class='grp-0'>

                    <div>

                        <input type="checkbox" titlex='Show tracking points'
                               ng-model="showTracking"
                               ng-click="imgStyle={'opacity':showTracking ? 1 : 0.5}"> tracking</input>

                        <input type="checkbox" titlex='Show heatmap of tracking points'
                               ng-model="showHeatmap"> heatmap</input>

                        <input type="checkbox" titlex='Show heatmap of fixations'
                               ng-model="showFixations"
                               ng-change="fixationVisibility()"> fixations</input>

                        <input type="checkbox" titlex='Show heatmap of saccades'
                               ng-model="showSaccades"
                               ng-change="saccadeVisibility()"> saccades</input>

                        <input type="checkbox" titlex='Show scan-path graph'
                               ng-model="showScanPath"> path</input>

                    </div>

                    <!--ng-click="pathStyle={'z-index' : 12};nodeStyle={'z-index':13}"-->

                    <!--<div style="display:inline-block"><label>threshold</label></div>-->
                    <div class="slider" titlex ="Adjust velocity threshold for fixation-saccade classification">

                        <label class="numinput">min:</label><input type="number"  value="{{velocity.min}}" ng-model="velocity.min">

                        <label class="numinput">step:</label><input type="number" value="{{velocity.step}}" ng-model="velocity.step">

                        <label class="numinput">max:</label><input type="number"  value="{{velocity.max}}" ng-model="velocity.max">

                        <input type="range"
                               min="{{velocity.min}}"
                               step="{{velocity.step}}"
                               max="{{velocity.max}}"
                               value="{{velocity.threshold}}"
                               ng-model="velocity.threshold"
                               ng-change="classify()"/>
                        <label class="center">{{velocity.threshold}}</label>
                    </div>
                </div>

                <div class="grp-1">
                    <div class="column-0">
                        <label>circle size</label><input type="range" min="0" step="0.25" max="40"
                                                         value="10"
                                                         ng-model="sp.markerSize"
                                                         ng-init="s.markerSize=10"/>
                        <label>circle opacity</label>
                        <input type="range"  min="0" step="0.05" max="1.0"
                               ng-model="spOpacity"
                               ng-init="spOpacity=1.0"
                               ng-change="spStyle={'opacity':spOpacity}"/>
                    </div>

                    <div class="column-1">
                        <label>scene opacity</label>
                        <input type="range" min="0" step="0.05" max="1.0"
                               ng-model="imgOpacity"
                               ng-init="imgOpacity=1;imgStyle={'opacity':imgOpacity}"
                               ng-change="imgStyle={'opacity':imgOpacity}"/>
                        <label>scene blur</label>
                        <input type="range"  min="0" step="0.25" max="10"
                               ng-model="spBlur" ng-init="spBlur=0"
                               ng-change="imgStyle={'filter':'blur('+spBlur+')', '-webkit-filter': 'blur('+spBlur+'px)'}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
