<div class="col-md-6 column" ng-controller="RecurrenceCtrl">

    <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-4 column">
            <xbrush></xbrush>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-1 column" >
        </div>
        <div class="col-md-4 column">
            <div id="scene" class="img-with-label">
                <img height="300" alt="Scene" src="http://lorempixel.com/140/140/">
            </div>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>
    <p class="img-label">Scene</p>
</div>
