<div class="row clearfix jumbotron nopadding timeline" ng-controller="TimelineCtrl">

    <div class="col-md-5 column">

    </div>
    <div class="col-md-5 column">

        <div class="player" ng-show="player.sceneReady" >

            <input type="range"  min={{player.min}}
                   step={{player.step}}
                   max={{player.max}}
                   ng-change="player.manual()"
                   ng-model="player.currentTime" />

            <div class="controls" >
                <span class="btn-sm glyphicon glyphicon-backward" ng-click="player.backward()"></span>
                    <span class="btn-sm glyphicon glyphicon-play"
                          ng-class="{ 'glyphicon-play': !player.playing, 'glyphicon-pause': player.playing }"
                          ng-click="player.playPause()"></span>
                <span class="btn-sm glyphicon glyphicon-forward" ng-click="player.forward()" ></span>
                <label>time:{{player.currentTime}}</label>
            </div>

        </div>
    </div>
</div>

